VITE_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DHt0ckr5oyMnOcWbHj55UA_tn6AWnTq
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwcnJsZ21ocHN4enlyZWphYnR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNzg4MDcsImV4cCI6MjA5NTc1NDgwN30.FRxm8jn81P0KTH7ZTvXYOQc_CHfVl01wiNGQw3lWBeM